.agendaPanel {
  height: 100%;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  padding-top: 24px;
}

.agendaCard {
  width: 100%;
  height: 100%;
  padding: 16px 20px 32px 20px;
  background-color: #5fb3ff; /* açık mavi */
  border-radius: 24px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex: 1;
}

.agendaTitle {
  font-weight: 700;
  font-size: 18px;
  color: #ffffff;
  margin: 0 0 16px 0;
}

.cardBody {
  /* İçerik daha sonra tasarlanacak */
  flex: 1;
}
