.card {
  border-radius: 24px;
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 14px;
  text-align: center;
  color: #fff;
}

.blue {
  background-color: #6ec6ff;
}

.pink {
  background-color: #ff74ad;
}
